# LaTeX temporary files
*.aux
*.log
*.toc
*.lot
*.lof
*.fls
*.dvi
# *.mtc*
# *.mat

# PDF output - usually a bad idea to keep this in Git
#*.pdf
nuthesis.pdf

# Latexmk
*.fdb_latexmk

# SyncTeX
*.synctex.gz

# LaTeX Beamer
*.snm
*.vrb
*.nav
*.out
*.acn
*.glo
*.ist


# BibTeX
*.bbl
*.blg

*.DS_Store
*.synctex*